*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F9F5ED;
    
}
nav{
    
    height:15vh;
    max-width: 1400px;
    margin: 19px auto 0;

}

nav ul {
    display:flex;
    align-items:center;   
    /* gap:50px; */
  
}
nav ul li {
    list-style: none;
    margin-right: 5%;
    font-weight: 500;   
} 

nav ul li > img{
    width: 100px;
}
main{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
.leftmain{
    width:40%;
}
.leftmain h1
{
    font-size: 67px;
    line-height: 70px;

}
.leftmain p{
    margin:5% 0;
}
.leftmain button{
    padding:15px 20px;
    border:none;
    background-color: #3b855b;
    border-radius: 10px;
    color:white;
    font-weight:500;
}

.rightmain{
    margin-left: -50px;
}

.rightmain > div:nth-child(1){
    margin: 0 0 15px;
}

.rightmain > div:nth-child(1) > img:nth-child(1){
    width: 40%;
    left: 1px;
}

.rightmain > div:nth-child(1) > img:nth-child(2){
    margin-left:20px;
    width: 40%;
    margin-top: 4px;
}

.rightmain > div:nth-child(2) > img:nth-child(1){
    left: 1px;
    width: 85%;
}


