HTML&CSS_Assignments/Project 5/style.css
@@ -0,0 +1,124 @@
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    max-width: 1400px;
    background-color: #F0F4F5;
    margin: auto; /* Auto */
    overflow: hidden;
}

nav{
    height: 16.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 6.3%;
}

nav > img{
    width: 13%;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;

    font-weight: 600;
}
nav ul li:first-child{
    color: green;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

main section {
    width: 50%;
    position: relative;
}

.leftsection{
    margin-left: 6%;
    position: relative;
}

.topangle{
    width: 25px;
}

.leftsection h1{
    font-size: 70px;
}

.leftsection p {
    color: #808080;
    font-size: 18px;
    margin: 20px 0;
}

.bottomangle{
    width: 25px;
    position: absolute;
    right: 65px;
}

.stethoscope{
    position: absolute;
    width: 90%;
    top: -56px;
    left: 220px;
    z-index:-1;
   }

.mouse{
    position: absolute;
    right: -30px;
    bottom :0;
    width: 30px;
    
}

.leftsection button{
    color: white;
    background-color: rgb(44, 168, 112);
    padding: 15px 40px;
    border: none;
    border-radius:40px;
    font-size: 25px;
}

/*  Right Side */
.greenbox,  .yellowbox{
    position: absolute;
    right: 20;
}
.greenbox{
    width: 65%;
    top: 55px;
    right: 40px;
}
.yellowbox{
    width: 56%;
    top: 120px;
    right: 20px;
}


.doctor{
    position: relative;
    right: 35px;
    bottom: 26px;
    width: 65%;
    float: right;
}
